/* You can add global styles to this file, and also import other style files */
.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-box > div{
    background-color: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    flex-basis: 49.5%;
}