/* You can add global styles to this file, and also import other style files */
.flex-box{
    display: flex;
    flex-direction: row;
}
.flex-box > div{
    flex: 1;
    background-color: aquamarine;
    margin: 10px;
}